.title-input {
  border: none;
  text-overflow: ellipsis;
  text-align: center;
}

.floppy-icon {
  margin-right: 10px;
}

.button-wrapper {
  float: right;
}

.close-icon {
  font-size: 20px;
}

.trash-icon {
  font-size: 20px;
  margin-right: 10px;
}
