.players-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 75%;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding-top: 5px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.active {
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.close-btn {
  position: absolute;
  top: 5%;
  left: 2.5%;
}

.profile-pic {
  width: 120px;
  height: 110px;
}

h1 {
  margin: 0;
  height: 100%;
}
